BOT_TOKEN=ضع_توكن_البوت_هنا

POSTGRES_DB=mrbot
POSTGRES_USER=mrbot
POSTGRES_PASSWORD=StrongPassword

POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=CHANGE_ME_to_a_random_secret
SENTRY_DSN=
